
<h1>Liste des utilisateurs de mon API</h1>

<br/>
<br/>

<h5>Créer un utilisateur</h5>
<div>
    <input class="form-control" type="text" id="NomUser" placeholder="Nom de l'utilisateur" />
    <input class="form-control" type="text" id="PrenomUser" placeholder="Prenom de l'utilisateur" />
    <button type="button" class="btn btn-success" onclick="createUser()">Créer</button>
</div>
<br/>
<br/>

<button class="btn btn-primary" 
    onclick="getAllUsers()">
    Voir les utilisateurs
</button>

<div id="AllUsers">

</div>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<h5>Créer un todoItem</h5>
<div>
    <input class="form-control" type="text" id="ItemName" placeholder="Nom de l'item" />
    <input class="form-control" type="checkbox" id="ItemComplete"/>
    <button type="button" class="btn btn-success" onclick="createItem()">Créer</button>
</div>
<br/>
<br/>
<button class="btn btn-primary" 
    onclick="getAllTodoItems()">
    Voir les todoitems
</button>
<div id="AllTodoItems">

</div>

@section Scripts{
    <script src="~/js/Users/usersAjax.js" asp-append-version="true"></script>
}